/* src/canteen.css */
.canteen-container {
    display: flex;
    height: 100vh;
  }
  
  .content {
    margin-left: 50px;
    padding: 20px;
    padding-top: 70px;
    background-color: #d7f0fc; /* Light orange background */
    flex-grow: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar:hover + .content {
    margin-left: 200px;
  }
  