/* src/dashboard.css */
.dashboard-container {
  display: flex;
  height: 100vh; /* Full height of the screen */
}

.content {
  margin-left: 50px; /* Sidebar collapsed width */
  padding: 20px;
  padding-top: 70px; /* Space for the navbar */
  background-color: #e6f2ff; /* Light Blue background for content */
  flex-grow: 1; /* Ensures this section takes the remaining space */
  overflow-y: auto; /* Makes content scrollable if needed */
  position: relative; /* Needed for absolute positioning of the switch */
  transition: margin-left 0.3s ease; /* Smooth transition for when sidebar expands */
}

/* Switch container to position it in the upper-right corner */
.switch-container {
  position: absolute;
  top: 20px;
  right: 20px;
}

h1 {
  font-size: 28px;
  color: #333333; /* Dark text for contrast */
}
